:host ::ng-deep {
    table {
        thead {
            background-color: #107956!important;
            .mat-header-cell {
                color: #FFF;
            }
        }
    }
}

.w-20 {
    width: 20%!important;
}
