<nav class=" navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="navbar-brand" >Tasks</div>

    <div class="collapse  navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/tasks" queryParamsHandling='preserve'>All-Tasks <span class="sr-only">(current)</span></a>
        </li>
      </ul>
     <div class="nav-item d-flex">
      <a class="nav-link" routerLink="/login" queryParamsHandling='preserve'>{{'header.logout' | translate}}</a>
      <a class="nav-link" style="cursor: pointer;" (click)="changeLang()">اللغة العربية</a>
     </div>
    </div>
  </div>

</nav>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">{{'task.addTask'|translate}}</p>
</ngx-spinner>

<div class="container">
  <router-outlet></router-outlet>
</div>
